<?xml version="1.0"?>
<launch>
  <arg name="controller_type" default="Effort" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find kmr_iiwa_gripkit_cr_plus_l_moveit)/config/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="iiwa_$(arg controller_type)_controller gripper_$(arg controller_type)_controller "/>

</launch>
