<launch>
  <arg name="ee_type" default="bb" />
  <param name="robot_description" command="$(find xacro)/xacro $(find iiwa_gripkit_cr_plus_l_description)/urdf/iiwa_gripkit_cr_plus_l.xacro 
  ee_type:=$(arg ee_type)"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model iiwa_gripkit_cr_plus_l"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
