<?xml version="1.0" ?>
<robot name="kmp200" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find kmp200_description)/urdf/kmp200.trans" />
<xacro:include filename="$(find kmp200_description)/urdf/kmp200.gazebo" />

<link name="base_link">
  <inertial>
    <origin xyz="-0.015567770945632222 0.0018370738883344167 0.36214888412786805" rpy="0 0 0"/>
    <mass value="3266.3922537057438"/>
    <inertia ixx="226.744522" iyy="400.752195" izz="384.998869" ixy="-2.223757" iyz="-1.110451" ixz="10.295288"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://kmp200_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://kmp200_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="cover">
  <inertial>
    <origin xyz="0.013259658218320203 4.3850699471586024e-07 -0.22267481385729077" rpy="0 0 0"/>
    <mass value="7.737707490873716"/>
    <inertia ixx="0.059177" iyy="0.024648" izz="0.03712" ixy="0.0" iyz="-0.0" ixz="0.001342"/>
  </inertial>
  <visual>
    <origin xyz="-0.54 -0.0 -0.64" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://kmp200_description/meshes/cover.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.54 -0.0 -0.64" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://kmp200_description/meshes/cover.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid2" type="fixed">
  <origin xyz="0.54 0.0 0.64" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="cover"/>
</joint>

</robot>
