<launch>

<rosparam file="$(find kmr_iiwa_gripkit_cr_plus_l_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="kmr_iiwa_gripkit_cr_plus_l" args="Slider01_position_controller Slider02_position_controller Rev01_position_controller Rev02_position_controller Rev03_position_controller Rev04_position_controller Rev05_position_controller Rev06_position_controller Rev07_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/kmr_iiwa_gripkit_cr_plus_l/joint_states"/>
</node>

</launch>