<?xml version="1.0" ?>
<robot name="kmr_iiwa_gripkit_cr_plus_l" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:arg name="ee_type" default="bb" />
<xacro:property name="ee_type" value="$(arg ee_type)" />
<xacro:arg name="mobile_base" default="kmp200" />
<xacro:property name="mobile_base" value="$(arg mobile_base)" />

<xacro:include filename="$(find kmr_iiwa_gripkit_cr_plus_l_description)/urdf/materials.xacro" />

<gazebo>
  <plugin name="control" filename="libgazebo_ros_control.so"/>
</gazebo>

<xacro:property name="body_color" value="Gazebo/Silver" />
<xacro:include filename="$(find iiwa7_description)/urdf/iiwa7.xacro" />

<xacro:if value="${ee_type == 'ad'}"> 
  <xacro:include filename="$(find gripkit_cr_plus_l_ad_description)/urdf/gripkit_cr_plus_l_ad.xacro" />
</xacro:if>
<xacro:if value="${ee_type == 'bb'}"> 
  <xacro:include filename="$(find gripkit_cr_plus_l_bb_description)/urdf/gripkit_cr_plus_l_bb.xacro" />
</xacro:if>
<xacro:if value="${ee_type == 'cc'}"> 
  <xacro:include filename="$(find gripkit_cr_plus_l_cc_description)/urdf/gripkit_cr_plus_l_cc.xacro" />
</xacro:if>
<xacro:if value="${ee_type == 'dd'}"> 
  <xacro:include filename="$(find gripkit_cr_plus_l_dd_description)/urdf/gripkit_cr_plus_l_dd.xacro" />
</xacro:if>

<xacro:if value="${mobile_base == 'kmp200'}"> 
  <xacro:include filename="$(find kmp200_description)/urdf/kmp200.xacro" />
  <joint name="Rigid01" type="fixed">
    <origin xyz="0.3633 -0.1842 0.7011" rpy="0 0 -1.5708"/>
    <parent link="base_link"/>
    <child link="link_0"/>
  </joint>
</xacro:if>
<xacro:if value="${mobile_base == 'None'}"> 
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="link_0"/>
  </joint>
</xacro:if>

<xacro:if value="${ee_type != 'None'}"> 
  <joint name="Rigid09" type="fixed">
    <origin xyz="0 0 0.0351" rpy="0 0 0"/>
    <parent link="flange"/>
    <child link="SF-ISO50-CRG200_Customer"/>
  </joint>
</xacro:if>

</robot>
